---
interface Props {
    id: string
    // Caption to display below the gist. If not provided, no caption will be displayed. Caption will only be displayed if the gist is loaded successfully
    caption?: string
    // Additional class to add to the figure. Useful for styling
    className?: string
    // File to display from the gist. If not provided, the whole gist will be displayed
    file?: string
    // URL to the stylesheet to use for styling the gist
    gistStylesUrl?: string
    // Whether to lazy load the gist. Use IntersectionObserver to load the gist when it comes into view. If IntersectionObserver is not supported, the gist will be loaded immediately. Defaults to true
    lazy?: boolean
    // Margin around the root of the IntersectionObserver. The more the margin, the earlier the iframe will be loaded. Defaults to 150
    observerRootMargin?: number
    // Whether to show the link to the gist when the gist fails to load. Defaults to true
    showGistLinkOnError?: boolean
}

const {
    caption,
    className,
    file,
    gistStylesUrl,
    id: gistId,
    lazy = true,
    observerRootMargin = 150,
    showGistLinkOnError = true
} = Astro.props

// Generate a unique ID for the iframe in case there are multiple gists with the same id on the page
const uniqueId = Math.random().toString(36).substring(2, 15)
const gistLink = `https://gist.github.com/${gistId}.js${file ? `?file=${file}` : ''}`
const iframeId = `astro-gist-${gistId}-${uniqueId}`
const gistStylesheet = gistStylesUrl ? `<link rel=stylesheet href=${gistStylesUrl} />` : ''

const iframeSrcDoc = `<html>
    <head>
        <style>
            body { margin: 0; padding: 0; }
        </style>
        ${gistStylesheet}
    </head>
    <body onload="(function () {
        // Scroll height is 0 when the gist wasn't loaded successfully
        const gistLoadingStatus = document.documentElement.scrollHeight > 0 ? 'success' : 'error';

        const iframe = parent.document.querySelector('#${iframeId}');

        if (gistLoadingStatus === 'success') {
            iframe.parentNode.style.paddingBlockEnd = document.documentElement.scrollHeight + 'px';
        } else if (${showGistLinkOnError}) {
            let figcaption = iframe.parentNode.parentNode.querySelector('figcaption')
            const hasCaption = figcaption !== null

            if (!hasCaption) {
                figcaption = document.createElement('figcaption')
            }

            figcaption.innerHTML = '${showGistLinkOnError ? `Unable to load the gist. <a href=${gistLink} target=_blank rel=noopener>View it on GitHub</a>` : ''}'

            if (!hasCaption) {
                iframe.parentNode.parentNode.appendChild(figcaption)
            }
        }


        iframe.parentNode.parentNode.dataset.loadingStatus = gistLoadingStatus;
    })()">
        <script src="${gistLink}"></script>
    </body>
</html>`
---

<figure class={className}>
    <div>
        <iframe frameborder={0} id={iframeId} loading="lazy" data-srcdoc={iframeSrcDoc}></iframe>
    </div>
    {caption && <figcaption>{caption}</figcaption>}
</figure>

<style>
    figure {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    div {
        position: relative;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    figcaption {
        font-size: 0.75em;
        text-align: center;
    }
</style>

<script is:inline define:vars={{ iframeId, lazy, observerRootMargin }}>
    const iframe = document.querySelector(`#${iframeId}`)

    if (
        lazy &&
        'IntersectionObserver' in window &&
        'IntersectionObserverEntry' in window &&
        'intersectionRatio' in window.IntersectionObserverEntry.prototype
    ) {
        function handleIntersection(entries, observer) {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    iframe.srcdoc = iframe.dataset.srcdoc

                    observer.disconnect()
                }
            })
        }

        const rootMargin = isNaN(observerRootMargin) ? '0px' : `${observerRootMargin}px`

        const observer = new IntersectionObserver(handleIntersection, { rootMargin })

        observer.observe(iframe)
    } else {
        iframe.srcdoc = iframe.dataset.srcdoc
    }
</script>
